<header class = "intro-header">
<h2><a href="/recipe">What's a food?</a></h2>
</header>
<main class = "intro">
<h1>This is welcome/home page</h1>

<form action="/register">
<input type="text" placeholder="username" name="username">
<input type="password" placeholder="password" name="password">
<button>Submit</button>
</form>
</main>
<footer class = "intro-footer">
    <section>
    <div class = "created-by">
    <h2>created by:</h2>
    <div class = 'wit'>
        <h2>wit</h2>
    </div>
    <h1>&</h1>
    <div class = 'zolo'>
        <h2>zolo</h2>
    </div>
    </section>
</footer>
