<header class = "intro-header">
<h2><a href="/recipe">WELCOME TO WHAT'S A FOOD!</a></h2>

</header>
<main class = "intro">
<form action="/login">
<h1>Log In!</h1> 
<input type="text" placeholder="username" name="username" />
<input type="password" placeholder="password" name="password" /><br>
<button>Submit</button> <a href="/register">Register</a>
</form> 

</main>
<footer class = "intro-footer">
    <section>
    <div class = "created-by">
    <h2>created by:</h2>
    <div class = 'wit'>
        <h2>wit</h2>
    </div>
    <h1>&</h1>
    <div class = 'zolo'>
        <h2>zolo</h2>
    </div>
    </section>
</footer>
