<header class = "intro-header">
<h2><a href="/recipe">What's a food?</a></h2>
</header>
<main class = "intro">



</main>
<footer class = "intro-footer">
    <section>
    <div class = "created-by">
    <h2>created by:</h2>
    <div class = 'wit'>
        <h2>wit</h2>
    </div>
    <h1>&</h1>
    <div class = 'zolo'>
        <h2>zolo</h2>
    </div>
    </section>
</footer>
