
<h2>{{recipe.length}} Recipes</h2>
{{#each recipe as |recipe index|}}
<h3>
  <li><a href="/recipe/{{recipe.title}}">{{recipe.title}}</a></li>
</h3>
{{/each}}

<h2>Register New recipe</h2>
<form action="/recipe" method="post">
<ul>
  <li>Title: <input type="text" name="recipe[title]" placeholder="title" id="title"></li>
  <li>Descirpition: <input type="text" name="recipe[descirpition]" placeholder="desciption" maxlength="250"></li>
  <li>Ingredient: <input type="text" name="recipe[ingredient]" placeholder="ingredient"></li>
  <li>Instruction: <input type="text" name="recipe[instruction]" placeholder="instruction"></li>
  <li>Rating: <input type="text" name="recipe[rating]" placeholder="rating"></li>
</ul>
<input type="submit" value="Register">
</form>
