<h2>Sign up Form</h2>
<form action="/register" method="POST">
<input type="text" placeholder="username" name="username">
<input type="password" placeholder="password" name="password"><br><br>
<button>Submit</button> <br>
</form>
<li> <a href="/login">Log in</a> </li>